* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Manrope';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../dist/fonts/Manrope-Bold.woff');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../dist/fonts/Manrope-Regular.woff');
}





input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

input {
  border-width: 0;
  max-width: 32px;
  text-align: center;
}

.container {
  font-family: Manrope, sans-serif;
  letter-spacing: 1.4;
}

.enter__btn {
  background-color: #536dfe;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 17px 20px;
  // position: relative;
  text-decoration: none;
}

.popup {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  position: fixed;
  top: 0;
  display: none;
}

.popup__body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.popup__wrapper {
  position: relative;
}

.popup__content {
  padding: 32px;
  border-radius: 25px;
  max-width: 933px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__left {
  margin-right: 32px;
  width: 40%;
}

.popup__img {
  max-width: 100%;
}

.popup__properties {
  margin-top: 32px;
}

.properties__title {
  font-size: 20px;
  margin-bottom: 16px;
}

.properties__row {
  align-items: center;
  color: #787878;
  display: flex;
  justify-content: space-between;
}

.properties__row:not(:last-child) {
  margin-bottom: 12px;
}

.popup__right {
  width: 60%;
}

.popup__score {
  font-size: 18px;
}

.popup__score {
  margin-top: 24px;
  display: flex; 
  justify-content: space-between;
}

.popup__ingredients {
  margin-top: 11px;
}

.ingredients__row {
  align-items: center;
  background: #f6f7f8;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.ingredients__row:last-child {
  margin-bottom: 0;
}

.ingredients__title-wrap {
  display: flex;
  justify-content: space-between;
}

.ingredients__counter {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px 8px 4px 8px;
}

.ingredients__price {
  color:rgb(120, 120, 120);
  font-size: 18px;
  font-weight: 400;
}


.counter__btn-prev,
.counter__btn-next {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
  font-size: 20px;
  cursor: pointer
}

.popup__title-wrap {
  align-items: flex-start;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.popup__title {
  font-size: 24px;
}

.popup__subtitle {
  color: #787878;
  font-size: 18px;
  font-weight: 400;
}

.popup__close {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 24px;
  background: transparent;
}

.total {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.total__title {
  color: #020a0a;
  font-size: 32px;
  font-weight: 700;
}

.total__btn {
  align-items: center;
  background: #de341d;
  border: none;
  border-radius: 100px;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 500;
  height: 66px;
  justify-content: center;
  padding: 20px 24px 20px 24px;
}


 //====================================
.products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 25px;

  &-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
  }
  
  &-img {
    height: 200px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

